:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  /* Other Variables */
  --borderRadius: 0.25rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
  background-color: var(--green-300);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.home-layout {
  height: 100vh;
}
/* 
NAVBAR
*/
.navbar-container {
  width: 100vw;
  background-color: var(--green-300);
}

.nav-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.flag {
  height: 2.5rem;
  width: 5rem;
  margin: 1rem 0;
}
/* 
LANDING PAGE
*/
.landing-page {
  height: 78vh;
  display: grid;
  place-items: center;
}
.charlie {
  height: 15rem;
  width: 20rem;
  border-radius: var(--borderRadius);
}
/* 
English German Cuban Pages
*/
.section-container {
  height: 78vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.flag-page {
  height: 5rem;
  width: 10rem;
}
.image {
  height: 10rem;
  width: 15rem;
  border-radius: var(--borderRadius);
  /* margin: 1rem 0; */
}
h2 {
  text-align: center;
  margin: 0;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.buttons-select {
  font-size: 3rem;
}
.buttons-select:hover {
  color: var(--green-50);
}
/* 
FOOTER
*/
.footer-btn {
  display: grid;
  place-content: center;
}
.home-btn {
  background-color: var(--green-950);
  width: 12rem;
}
.home-btn a {
  color: white;
}
